.image_container {
	display: grid;
	/* grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); */
	/* grid-gap: auto; */
	/* margin-left: 0; */
	/* margin-right: auto; */
	width: 350px;
}

.poster {
	height: 400px;
	width: auto;
}

.title {
	text-align: center;
	margin: 5%;
}

.poster_container {
	display: flex;
	background-color: transparent;
	justify-content: center;
	width: 350px;
	height: 400px;
}

img {
	max-width: 350px;
	height: auto;
}


tr {
	text-align: center;
}