.image_container {
    background: #353535;
    max-height: 500px;
    animation: animateGrid .5s;
    overflow: hidden;
	background-color: transparent;
	justify-content: center;	
	transition: transform 0.2s;
}

.poster {
	height: 400px;
	width: auto;
}

.title {
	text-align: center;
	margin: 5%;
	margin-left: 15%;
}

.poster_container {
	display: flex;
	background-color: transparent;
	justify-content: center;
	width: 350px;
	height: 400px;
}

img {
	max-width: 350px;
	height: auto;
}


tr {
	text-align: center;
}