.test {
    color: #ffff;
    min-height: 40px;
    height: fit-content;
    text-align: center;
    vertical-align: middle;
    /* min-width: 100px; */
    width: fit-content;
    background-color: transparent;
    border: none;
    padding-top: 5%;
}

.svg_icons {
    transform: scale(1.8);
 }

.tes1t {
    display: flex;
    width: 50%;
}


.test:hover {
    background-color: bisque;
}