body {
	background: #141414;
	color: #ffffff;
}

a {
	min-width: 80px;
}

.movie-app > .row {
	overflow-x: auto;
	/* flex-wrap: nowrap; */
	margin-left: auto;
	margin-right: auto;
	width: 99%;	
	margin-top: 5%;
}

.row>* {
  flex-shrink: 1;
}


.navbar {
    background-color: #141414;
    overflow: hidden;
    size: 100%;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 100; 
 }

 .navbar > nav {
	float: right;

}
.navbar a, a1 {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.navbar a1:hover {

}
  
.navbar a.active {
    background-color: #04AA6D;
    color: white;
  }

  .menu_home {
	width:50%;
	float: left;
  }
  
  
  .menu_bar {
	  float:left;
	  width: 50%;
	  text-align: left;
  }
  
  .searchIcon {
	width: 10px;
  }


  .popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* The actual popup */
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: rgb(223, 46, 46);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 100;
    top: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class - hide and show the popup */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }